body {
  font-family: Cabin;
  background: radial-gradient(white, navy, black);
  background-size: cover;
  height: 100vh;
  margin: 100px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

main {
  margin: auto;
  width: 800px;
  height: 70%;
  background:rgba(255,255,255, 0.2);
  border: 5px inset midnightblue;
  box-shadow: 5px 10px 10px;
  padding: 25px;
  border-radius: 10px;
}

/* main {
background: rgba(0, 0, 0, 0.4);
  display: inline-grid;
  grid-template-rows: 180px 1fr;
} */

/* .buttons {
  display: grid;
  margin: 0 auto;
  font-weight: 600;
} */

/* body {
  font-family: Cabin;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #ffffff;
  text-shadow: -1px 0 grey, 0 1px black, 1px 0 grey, 0 -1px grey;
  -webkit-font-smoothing: antialiased;
} */

/* .homebackground {
  background-image: url("https://image.ibb.co/ch6WsH/la_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
} */

/* .quizbackground {
  background: radial-gradient(LightSkyBlue, white);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
} */

.quizimage {
  width:400px;
  height:400px;
  object-fit: cover;
  background-size: cover;
  background-position: bottom;
  padding-bottom: 0px;
  border: 7px double white;
  border-radius: 20px;
{

.flags {
  padding: 2px;
  background-color: transparent;
}
