body {
    font-family: "Schoolbell";
    font-size: 30px;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    color: #FFFFFF;
    height: 100vh;
}

.index {
    background: url("https://image.ibb.co/ch6WsH/la_background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.chooselanguage {
    background: url("https://image.ibb.co/mdKOpx/a0fde472846474f1e0bac0b6bc3e0153.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}